html{color:#000;background:#eee;padding:0;	font: 12px/18px 'Arial', "Malgun Gothic", "Gulim", Verdana, Arial, Tahoma;overflow: auto;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:inherit;font-weight:inherit;}del,ins{text-decoration:none;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:baseline;}sub{vertical-align:baseline;}legend{color:#000;}input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}input,button,textarea,select{font-size:100%;}
/* Body */
body{margin:0;padding:0 0 60px;text-align:center;font-size:10pt;color:#333;}.spacer{clear:both;}
img{border:none;}

/* Basic */
h1 {font-size:14px; line-height:28px; font-weight:bold;}
h2 {font-size:12px; line-height:24px; font-weight:bold;}

/* layout */
#wrap { height:100%; margin:0 ; padding: 0; background-color: #eee;}
#middle { width: 100%; height: 100%; margin: 0; padding: 0; }
#content { width: 960px; height: 100%; margin: 0 auto; padding: 0; float:none;}
#mask { background-color :#000; z-index: 300; position: absolute; left:0; top:0;filter:alpha(opacity=70); opacity:0.7; -moz-opacity:0.7;}

/* Top */
#top { height: 80px; margin: 0; padding: 0; background-color:#4e4e4e; border-bottom: 1px solid #302323; }
#header { width: 960px; height: 78px; margin: 0 auto; padding: 0; }
#header a:link, #header a:visited {text-decoration: none; color:#222;}

/* Top->logo */
#logo { width : 200px; height:50px; font: 30px 'Kristen ITC' bold; padding: 15px; float: left; color:yellow;}
#logo a:link, #logo a:visited { text-decoration:none; color:yellow;}
#logo a:hover, #logo a:active { text-decoration:none; color:yellow;}

/* Top->login */
#login {width : 580px; float:right; margin:30px auto 0 auto; color:#fff;}
#login li {padding-left:10px; float:left;}
#login li span {font-size: 14px;}
#login a:link, #login a:visited { text-decoration: none; color:#fff;}
#login a:hover, #login a:active { text-decoration:underline; color:#fff;}

/* Bottom */
#bottom { width: 100%; height: 75px; margin: 0 auto; padding: 0; background-color: #4e4e4e; border-top: 1px solid #999; border-bottom: 1px solid #999; color:#fff;}
#footer { width: 960px; height: 35px; margin: 0 auto; padding:20px 0; text-align: center; }
#footer a:link, #footer a:visited {text-decoration: none; color:#fff;}
#footer a:hover, #footer a:active { text-decoration:underline;}
#topicSelect { width: 800px; height: 600px; }

